@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
:root {
  font-family: Poppins;

  color: rgba(0, 0, 0, 0.87);
  /*background-color: #ffcefc
  background-color: #b1c8df;*/
  background-color: #eaeaea;
}
